@font-face {
  font-family: "GothamSSm-XLight";
  src: url("fonts/GothamSSm-XLight.eot");
  src: url("fonts/GothamSSm-XLight.eot?#iefix") format("embedded-opentype"),
    url("fonts/GothamSSm-XLight.ttf") format("truetype"),
    url("fonts/GothamSSm-XLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VCROSDMono";
  src: url("./fonts/VCROSDMONO1001.eot");
  src: url("./fonts/VCROSDMONO1001.eot?#iefix") format("embedded-opentype"),
    url("./fonts/VCROSDMONO1001.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIT";
  src: url("./fonts/DIT.eot");
  src: url("./fonts/DIT.eot?#iefix") format("embedded-opentype"),
    url("./fonts/DIT.ttf") format("truetype"),
    url("./fonts/DIT.woff") format("woff");
  font-style: normal;
}
a {
  text-decoration: none;
}

body {
  margin: 0px;
}

ul {
  padding: 0%;
  margin: 0%;
}
li {
  list-style-type: none;
}
.backmovement {
  background-image: url("sourse/Bart2.svg");
  background-size: contain;
  animation: move 150s linear infinite;
}
.backmovement2 {
  background-image: url("sourse/Bart2.svg");
  background-size: contain;
  animation: move2 150s linear infinite;
}

.background {
  position: relative;
  height: 80vh;
  background-color: #000000;
  margin: 0px;
}
.background2 {
  position: relative;
  height: 100vh;
  background-color: #000000;
  margin: 0px;
}
.background .center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background h {
  font-size: 8vh;
  font-family: "GothamSSm-XLight";
  color: rgb(255, 255, 255);
}
.background h1 {
  text-align: center;
  margin: 0;

  letter-spacing: 1.1vh;
  font-size: 2vh;
  font-family: "GothamSSm-XLight";
  color: rgb(255, 255, 255);
}
.background h2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 2vh;
  font-family: "VCROSDMono";
  color: rgb(255, 255, 255);
}

.wline {
  position: absolute;
  top: 10%;
  height: 13%;
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  transform: translateY(-50%);
}
.wline2 {
  position: absolute;
  top: 50%;
  height: 13%;
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  transform: translateY(-50%);
}
.bartclass {
  width: 20%;
}
div.lis {
  position: relative;
  bottom: -25vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6.5vh;
  font-family: "GothamSSm-XLight";
}

div.lis div a {
  color: white;
}

.hat {
  position: relative;
  height: 20vh;

  background-color: #000000;
  margin: 0px;
}

.menubut {
  position: relative;
  width: 10vh;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.buttonposition {
  position: absolute;
  width: 8vh;
  top: 4vh;
  left: 7%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.revbuttonhide {
  position: absolute;
  width: 8vh;
  top: 0%;
  left: -50%;
}
.sidebar3pos {
  position: relative;
  top: 25vh;
  transform: translate(0, 50%);
}

.active {
  position: absolute;
  right: 0%;
}
.nonactive {
  position: fixed;
  top: -5%;
  right: 100%;
}

/* .active2 {
  position: fixed;
  top: -5%;
  right: -34%;
}
.nonactive2 {
  position: absolute;
  right: 100%;
}
.active3 {
  position: fixed;
  top: 52%;
  right: -34%;
}
.nonactive3 {
  position: absolute;
  right: 100%;
}
*/
.slide {
  position: absolute;
  top: 0%;

  height: 100%;
  width: 100%;
  background-color: #000000;
  margin: 0px;
  z-index: 1;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.backimg {
  position: absolute;
  width: 100vh;
}
.backimg2 {
  position: relative;
  width: 100vh;
  z-index: 1;
}
/*.backimg {
  width: 164%;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.backimg2 {
  width: 182%;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}*/
.backblock11 {
  position: relative;
  height: 50vh;
  overflow: hidden;
}
.sidebar {
  font-family: "GothamSSm-XLight";
  position: absolute;
  font-size: 4vh;
  width: 100%;
  height: 100%;
  top: -100vh;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.activesidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0vh;
  color: #ffffff;
  background-color: #000000;
}
.redback {
  position: absolute;
  height: 100vh;
  width: 100vh;
  opacity: 0.3;
  overflow: hidden;
  background-color: red;
}
.posttest {
  position: relative;
}
.backblack {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

@keyframes move {
  from {
    background-position: -3840px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}
@keyframes move2 {
  from {
    background-position: 3840px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}


@media only screen and (min-width: 321px) and (orientation: landscape) {
  .backimg {
    position: absolute;
    width: 230vh;
    top: -56vh;
  }
  .backimg2 {
    position: relative;
    width: 230vh;
    top: -56vh;
    z-index: 1;
  }
  div.lis {
    position: relative;
    bottom: -25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6.5vh;
    font-family: "GothamSSm-XLight";
  }
  .buttonposition {
    position: absolute;
    width: 15vh;
    top: 7vh;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .sidebar3pos {
    position: relative;
    top: 25vh;
    transform: translate(0, 50%);
    font-size: 10vh;
  }
  .backblock11 {
    position: relative;
    height: 50vh;
    overflow: hidden;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .backimg {
    position: absolute;
    width: 246vh;
    top: -56vh;
    left: -79vh;
  }
  .backimg2 {
    position: relative;
    width: 246vh;
    top: -56vh;
    left: -79vh;
    z-index: 1;
  }
  .sidebar3pos {
    position: relative;
    top: 25vh;
    transform: translate(0, 50%);
    font-size: 7vh;
}
}
